body {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

.orange {
    color: orange;
}

.gray {
    color: rgb(80, 77, 77);
}

.top-sec {
    display: flex;

    margin: 150px 70px 150px 70px;

}



.top-halfl {
    margin-left: 50px;
    width: 50%;
    margin-top: 100px;

}

.top-halfr {
    width: 50%;
    margin-right: 10px;

}


.top-halfl h1 {
    font-size: 90px;
}

.top-halfl p {
    font-size: 30px;
    color: gray;
}

.top-halfr img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding: 30px 60px;
    background-image: linear-gradient(orange, tomato);
    border-radius: 50px;
    box-shadow: 0 0 20px orange;
    margin-top: 20px;
}

.mid-sec {
    width: auto;
    height: auto;
    display: flex;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;


}

.mid-sec h1 {
    font-size: 70px;
}

.mid-sec p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 30px;
}

.mid-halfl {
    width: 50%;
    padding: 150px;

}

.mid-halfr {
    width: 50%;
    padding: 50px;
    margin: 0px 200px;
}

.mid-halfl img {
    width: 50%;
    vertical-align: bottom;
}

.trd-txt h1 {
    font-size: 70px;
    text-align: center;

}

.trd-txt p {
    font-size: 30px;
    text-align: center;
}

.trd-txt {
    margin: 0px 500px;
}

.trd-sec {
    display: flex;
}

.trd2-half {
    width: 50%;
}

.trd2-half img {
    height: 200px;
    width: 200px;
}